@import "tailwindcss";
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 9em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/*
Source - https://stackoverflow.com/a/67195095
Posted by mstdmstd, modified by community. See post 'Timeline' for change history
Retrieved 2026-02-16, License - CC BY-SA 4.0
*/

.table-wrapper{
  width:84vw; 
  height:67vh;
}
.t-header{
  background-color: darkcyan;

}
table,  td {
  border: 1px solid #525252;
  border-collapse: collapse;
}

//test for ezra
.ezraAI-wrapper{
   width: 84vw;
   height: 55vh;
   background-color: lightcoral
}
.ezra-chat-input{
  text-align:center;
  width:77vw;
  padding:3px; 
  margin-bottom:3px; 
  border:1px solid black;
}
@media screen and (min-width:584px) {
  .ezraAI-wrapper{
    width:500px;
  }
  .ezra-chat-input{
    width:411px
  }

}

// Form CSS
.form-container{
  margin:32px 0px;
  button{
    margin-bottom: 14px;
    background-color: darkgrey;
    color: white;
    font-weight: 800;
  }
}
.form-wrapper{
  border-color:blue;
  width: 84vw;
  height:55vh;
  overflow:overlay;
  scrollbar-width:none;
  background-color: lightblue;
  color: white;
  .form-header{
    margin-top:27px;
    p{
    font-size:29px;
    }
  }

  form{
    padding-top:10px
  }
  @media screen and (min-width:584px) {
    width:500px;


  }
  .input-wrapper{
    margin:25px 0px;
    input{
      width:77vw;
      border-width:3px;
      text-align:center;
      padding:3px;
      font-weight:bold;
      @media screen and (min-width:584px) {
        width:411px  
      }
    }

    //AUTOFILL FOR JOURNAL ENTRY
    input:-webkit-autofill,
    input:-webkit-autofill:hover, 
    input:-webkit-autofill:focus, 
    input:-webkit-autofill:active {
      -webkit-text-fill-color: #ffffff; /* Change text color here */
      border:3px solid white;
      -webkit-box-shadow: 0 0 0 1000px  lightblue inset; /* Use a large inset shadow for background */
      transition: background-color 5000s ease-in-out 0s; /* Prevents the background from reverting */
    }
  }
}
 